<div class="d-flex my-6" >
    <a href="/homa.org.in/{{this.link}}">{{this.title}}</a>
    <form method="POST" action="/deleteLinkNotification/{{this._id}}?_method=DELETE" >
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div> 
