<div class="container-fluid my-2">
    <div class="row">
        <div class="col">
            <h1 class="card btn btn-success">Quick Links</h1>
            <div class='fbox'>
                    <li>
                        <a href="">Academic Calender</a>
                    </li>
                    <li>
                        <a href="">Daily Routine</a>
                    </li>
                    <li>
                        <a href="">Prospectus</a>
                    </li>
                    <li>
                        <a href="">Fees Structure</a>
                    </li>
            </div>
        </div>
        <div class="col">
            <h1 class="card btn btn-success">Important Links</h1>
            <div class='fbox'>
                    <li>
                        <a href="">Academic Calender</a>
                    </li>
                    <li>
                        <a href="">Daily Routine</a>
                    </li>
                    <li>
                        <a href="">Academic Calender</a>
                    </li>
                    <li>
                        <a href="">Academic Calender</a>
                    </li>
            </div>
        </div>
        <div class="col">
            <h1 class="card btn btn-success">Contact US</h1>
            <div class='fbox'>
                
                <li>
                    <a href="tel:+91 9101655137">Secretary: +91 9101655137</a>
                </li>
                <li>
                    <a href="tel:+91 9101667292">Principal:+91 9101667292 </a>
                </li>
                <li>
                    <a href="mailto:homahowly@gmail.com">homahowly@gmail.com</a>
                </li>
                <li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3572.6429218162075!2d90.95824631435482!3d26.434997386856903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375975fdc90957dd%3A0x9f05c0ac604f87ba!2sHazrat%20Omar%20(R)%20Model%20Academy!5e0!3m2!1sen!2sin!4v1655055023793!5m2!1sen!2sin" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </li>
            </div>
        </div>
    </div>
    <div id='copyRightBox' class="col mx-10">
        <div >
            <li>
                Copyright ©2023 | HOMA |All Rights Reserve
            </li>
            <li>
                Website designed & developed by
            </li>
            <li>
                <a href="https://www.instagram.com/shahiin.al.habiib/">One Stop IT Solution
                    <img id="instaLogo" src="/pic/instalogo.jpg" alt="developer's Instagram Link">
                </a>
            </li>
        </div>
    </div>
</div>
