<header>

    <div id="headerBox" class="container-fluid">
        <div id="logoBox">
            <a href="/">
            <img id="logo" src="/pic/homalogo.png" alt="College logo">
            </a>
        </div>
        <div id="topHead" class="container-fluid">
            <h3>HAZARAT OMAR (R) MODEL ACADEMY</h3>
            <h4>Run By Assam FALAH Society</h4>
            <h4>Estd. 1991, Affiliated to AHSEC and SEBA</h4>
        </div>
        <div id="topVar" class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a class="nav-link active btn btn-success mx-1" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active btn btn-success mx-1" aria-current="page"
                                    href="/alumni">Alumni</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active btn btn-success mx-1" href="https://bit.ly/3c35KVQ">Admission
                                    Apply</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active btn btn-success mx-1" href="/admin-logIn"
                                    tabindex="-1">Admin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
     </div>
</header>
        <marquee behavior="alternate" direction="horizontal" scrolldelay='100' onmouseover="stop()" onmouseout="start()">
            <b style="color: red;"> <i> {{hadith}}</i></b>
        </marquee>
<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active btn btn-success mx-1" aria-current="page" href="/about-HOMA">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-success mx-1" aria-current="page" href="/gallary">Gallary</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active btn btn-success mx-1" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Academics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/science">Science (10+2)</a></li>            
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/class-IX">Class IX & X</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active btn btn-success mx-1" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Faculty & Staff
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/science-faculty">Science Faculty</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/school-faculty">School Faculty</a>
                        </li>
                    
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active btn btn-success mx-1" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Students Activity
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/sports">Sports
                            </a></li>
                        <li><a class="dropdown-item" href="/cultural-activity">Cultural Activity
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/educational-activity">Educational Activity</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-success mx-1" aria-current="page" href="/HOMA-Hostels">
                        Hostels</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active btn btn-success mx-1" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/governingbody" disabled>Governing Body</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active btn btn-success mx-1" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Students Zone
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Pre Metric Scholarship Notification</a></li>
                        <li><a class="dropdown-item" href="#">Post Metric Scholarship Notification</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item"
                                href="https://sebaonline.org/?link=bm90aWZpY2F0aW9uc19wdWJsaWM%3D">SEBA
                                Notification</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://www.ahsec.nic.in/">AHSEC Notification</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">NEET/JEE Notification</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-success mx-1" aria-current="page"
                        href="/laboratoy-and-library">Lab & Library</a>
                </li>

            </ul>
        </div>
        <a class="nav-link active  mx-1" aria-current="page"
            href="https://www.facebook.com/HOMAhowlyassam">
            <img id="fbLogo" class="active" src="/pic/logo fb.jpg" alt=" facebook logo">
        </a>
        <a class="nav-link active  mx-1" aria-current="page" href="">
            <img id="instaLogo" class="active" src="/pic/instalogo.jpg" alt=" instagram logo">
        </a>
        <a class="nav-link active  mx-1" aria-current="page" href="">
            <img id="instaLogo" class="active" src="/pic/youtube logo.jpg" alt=" instagram logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
