<li>
    <p>
        <a href="http://homa.org.in/pdfNotification/{{this.pdfNotification}}" ><b style="color: rgb(179, 139, 9);">{{this.class}}</b>---{{this.title}}>><b style="color: rgb(224, 30, 30);">pdf</b></a>
    </p>
</li>
