<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="css.css">
  <title>About HOMA</title>
</head>
{{>headerPartial}}

<body>
  <div>
    <div class="container-fluid">
      <div class="col my-1">
        <div id="principalDesk" class="clearfix desk">
          <h2 class="card btn btn-success">ABOUT H.O.M.A</h2>
          <img  src="/pic/pic3.jpeg" class="aboutPic col-md-3 mx-3 float-md-end mb-1 ms-md-1"
            alt="principals image">
          <p>
            Hazrat Omar (R) Model Academy (HOMA) is established and founded in the year 1991 by Assam Falah Society, a
            premier
            Socio Welfare Vountary Organization of North East India. The Academy is one of the sever welfare projects of
            the
            Sociaty in the region. It is an output of relentless and untiring efforts of a few dedicated social workers
            with an
            ambitious vision to boast and uplift the young pupils of the region in particular and the country at large.
            The
            institution, besides pro viding quality education also aims at nurturing the young minds at mosphere of
            spiritual
            serenity and moral chastity. However, the school is open for pupils of all religion, cast, creed, gender of
            language. In short 'HOMA' is founded to inculcate the value based and Spiritual education with modern
            subjects to
            its students.

            The HOMA complex is in an area of around 32 Bighas of land and located well away from the bustle of the
            town. The
            school is situated at a picturesque and serene location 1.2 km west from Howly Town in Barpeta District of
            Assam.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="container-fluid">
        <div class="col my-1">
          <div id="principalDesk" class="clearfix desk">
            <h2 class="card btn btn-success">ABOUT ASSAM FALAH SOCIETY</h2>
           
            <p>
              Assam Falah Society, a leading non-Govt non-profit making voluntary organization of North East India.
              formed in
              1984 and Registered in 1985 under Society Registration Act XO of 1860, vide No.401 of 1985-86 with a view
              to
              establish Schools Madrassa. Orphanage, Technical and Vocational Training Centres Hostels and Lodges to run
              coaching Centres. Computer Training Centres, to manage and to distribute scholarships to the poor needy
              and
              meritorious students to provide relief and rehabilitations to the victims of communal riots and natural
              calamities
              and to make efforts to bring about communal harmony, friendship and fellow feelings among the people of
              different
              caste, creed and religion. And in order to materialize these objectives the society has been remaining
              busy in
              versatile social activities since its birth

              Area of Work Education

              Health Relief & Rehabilitations

              Women Empowerment

              Community Building
            </p>
          </div>
        </div>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>
<footer>
  {{>footerPartial}}
</footer>

</html>
