<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="css.css">
  <title>Director's Desk</title>
</head>
{{>headerPartial}}

<body>
  <div class="container-fluid">
    <div class="col my-1">
      <div id="principalDesk" class="clearfix desk">
        <h2 class="card btn btn-success">SECRETARY'S DESK</h2>
        <img id="" src="/pic/Secretary.PNG" class="col-md-3 mx-3 float-md-end mb-1 ms-md-1"
          alt="Secretary's image">

        <p>
          In the name of Allah the most Gracious the most Merciful Assalamu Alaikum,

          Welcome to Hazrat Omar Model Academy (HOMA) which is a unique Day Cum Residential Islamic Institution in the
          North-East region established by Assam Falah Society. The Assam Falah Society is a leading non-political,
          on-profit making voluntary organisation of North-East India dedicated to the Socio-Educa tional Development of
          Muslim Ummah particularly the poor, backward and down trodden people of region. The 31 years history of HOMA
          and its success is a testimony for our commu nity that we are capable of doing something for solving our
          community issues and problems with our selfless united afforts. HOMA is an education institution on which our
          parents and guardians can keep confidence.

          May Allah accept our endavour for His Deen (Ameen)

          Sadulla Hoque Secretary HOMA

        </p>

      </div>
    </div>
  </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>
<footer>
  {{>footerPartial}}
</footer>

</html>
