<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="css.css">
  <title>Principal's Desk</title>
</head>
{{>headerPartial}}

<body>
  <div class="container-fluid">
    <div class="col my-1">
      <div id="principalDesk" class="clearfix desk">
        <h2 class="card btn btn-success">PRINCIPPAL'S DESK</h2>
        <img id="" src="/pic/principalhoma.PNG" class="col-md-3 mx-3 float-md-end mb-1 ms-md-1"
          alt="principals image">

        <p>
          In the name of Allah, the most gracious, the most merciful
          Dear Parents, students and visitors Assalamu Alaikum.

          In the Holy Quran Allah says. Indeed, Allah will not change the condition of a community until they change.
          what is in themselves."[13:11]

          A warm welcome for the session 2022-23 with hope of success and learnings of new dimension. "Success comes to
          those who work hard and stays with those who don't rest on the laurels of the past." We live today in a world
          that is different from the one we grew up in, the one we were educated in. The world today is changing at such
          an accelerated rate and we as educators need to pause and reflect on this entire system of Education. We at
          HOMA-Howly work at implementing a well balaced curriculum to ensure that the children who walk into the
          portals of our School will not just love their School years but truly be prepared to face life's challenges.
          "TO MOTIVATE THE WEAK, TO ADDRESS THE AVERAGE AND CHALLENGE THE GIFTED' is the teaching vision of our school.

          Aristotle once said that. "Educating the mind without educating the heart is no education at all." Even as we
          impart education to match the advancement in technology and globalization, we march our children ahead with
          our ethos of moral values and principles. We endeavour constantly to instill these qualities in our children.
          We take pride on ourselves to help them grow and develop into sensitive and responsible citizens of the next
          generation. A committed and supportive management, dedicated teachers, caring and co-operative parents blend
          har moniously to create a child-centric school. Teamwork is our hallmark. I am very sure through collabora
          tive effort we can achieve more to benefit our students who are the future leaders of tomorrow,

          With sincere and warm regards.

          (Fazlur Rahman. M.Sc, B.Ed)

        </p>

      </div>
    </div>
  </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>
<footer>
  {{>footerPartial}}
</footer>

</html>
