<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css.css">
    <title>other Toppers</title>
</head>

<body>
    {{>headerPartial}}
    <hr>

    <section>
        <div class="container-fluid">
            <h2 class="card btn btn-success">OTHER TOPPER'S</h2>
            <div id="ourFaculty" class="container-fluid">
                <div class="row">
                    <div class="col my-2">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Fatima.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>FATIMA ZINNZ <br>
                                        83.33 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Nargis.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>NARGIS SULTANA <br>
                                        83.16 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Nishar Azad.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>NISHAR AZAD <br>
                                        80.66 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Soleman.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>SOLEMAN RAHMAN <br>
                                        80.66 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Salma.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>SALMA AKTAR <br>
                                        80.16 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Rijuwan.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>RIZWAN AHTAR <br>
                                        79.66 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Mriduma.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>MIRZUMA BEGUM <br>
                                        79.5 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Arifa.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>ARIFA AKTAR <br>
                                        78.83 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Anisa.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>ANISA AHMED <br>
                                        78.66 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Masuma Islam.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>MASUMA ISLAM <br>
                                        77 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Jiyur Rahman.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>JIYAUR RAHMAN <br>
                                        76.83 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Adil.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>ADIL SHARIYAR <br>
                                        76.16 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Zerifa.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>ZARIFA YESMIN <br>
                                        75.83 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Ridul.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>RIDUL AHMED <br>
                                        75.66 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Imdadul Khan.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>IMDADUL KHAN <br>
                                        75 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/Musharaf.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>MUSARAF ALI <br>
                                        75 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col my-3">
                        <div class="col my-1">
                            <div class="card">
                                <img src="/pic/suhana.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p>SHOHANA AHMED <br>
                                        75 % <br>
                                        2021-22</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>
<footer>
    {{>footerPartial}}
</footer>

</html>