<!DOCTYPE html>
<html>

<head>
  <mate charest="utf-8" />
  <title>Admission Form</title>
</head>

<body>
  <hr>
  <hr>
  <div class="container">
    <div class="row ">
      <div class="col-1">Candidate's Name :      {{name}}</div>
      <div class="col-1">Father's Name :         {{fName}}</div>
    </div>
    <div class="row">
      <div class="col-1">Mother's Name :         {{mName}}</div>
      <div class="col-1">Email :                 {{email}}</div>
    </div>
    <div class="row ">
      <div class="col-1">Date Of Birth :         {{dob}}</div>
      <div class="col-1">Medium :                {{medium}}</div>
      <div class="col-1">Stream :                {{stream}}</div>
    </div>
    <div class="row">
      <div class="col-1">Applying For :          {{applyingFor}}</div>
      <div class="col-1">Category :              {{category}}</div>
      <div class="col-1">Gender :                {{gender}}</div>
      <div class="col-1">BPL? :                  {{bpl}}</div>
    </div>
    <div class="row">
      <div class="col-1">Subjects :              {{subjectsToTake}}</div>
    </div>
    <div class="row">
      <div class="col-1">Address :               {{address}}</div>
      <div class="col-1">Police Station :        {{ps}}</div>
      <div class="col-1">Post Office :           {{po}}</div>
    </div>
    <div class="row">
      <div class="col-1">District :              {{district}}</div>
      <div class="col-1">State :                 {{state}}</div>
      <div class="col-1">Pin Code :              {{pin}}</div>
      <div class="col-1">Phone Number :          {{phone}}</div>
    </div>
    <hr>
    <hr>
    <div class="row d-flex">
      <div class="col-1">Institute Name :        {{institute}}</div>
      <div class="col-1">Board :                 {{board}}</div>
      <div class="col-1">Year of Passing :       {{passYear}}</div>
      <div class="col-1">Marks Obtained :        {{tmarks}}</div>
    </div>
    <div class="row d-flex">
      <div class="col-1">Percentage :            {{percentage}}</div>
      <div class="col-1">Subject Names:          {{subjects}}</div>
    </div>
  </div>
</body>

</html>